.main-container .row .col{
    padding: 0px;
}

.main-container .row{
    margin-bottom: 10px;
}

#pubTongYeBusinessPage .bui-tab-item:nth-child(1){
    background-color: #f47a7a;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(1):hover{
    background-color: #e27272;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(1) .bui-tab-item-img{
    background: url("skin/default/img/sellingproduct_baoxianchanping.png");
    background-size: 100% 100%;
}




#pubTongYeBusinessPage .bui-tab-item:nth-child(2){
    background-color: #96cb00;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(2):hover{
    background-color: #7ca701;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(2) .bui-tab-item-img{
    background: url("skin/default/img/sellingproduct_daebaodan.png");
    background-size: 100% 100%;
}

#pubTongYeBusinessPage .bui-tab-item:nth-child(3){
    background-color: #5bbef3;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(3):hover{
    background-color: #4591bd;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(3) .bui-tab-item-img{
    background: url("skin/default/img/sellingproduct_guijinshuchanping.png");
    background-size: 100% 100%;
}




#pubTongYeBusinessPage .bui-tab-item:nth-child(4){
    background-color: #fda93f;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(4):hover{
    background-color: #ca8832;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(4) .bui-tab-item-img{
    background: url("skin/default/img/sellingproduct_guozhaichanping.png");
    background-size: 100% 100%;
}



#pubTongYeBusinessPage .bui-tab-item:nth-child(5){
    background-color: #c866c5;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(5):hover{
    background-color: #ae57ab;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(5) .bui-tab-item-img{
    background: url("skin/default/img/sellingproduct_jijinchanping.png");
    background-size: 100% 100%;
}


#pubTongYeBusinessPage .bui-tab-item:nth-child(6){
    background-color: #1dc2b2;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(6):hover{
    background-color: #1d9787;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(6) .bui-tab-item-img{
    background: url("skin/default/img/sellingproduct_licaichanping.png");
    background-size: 100% 100%;
}


#pubTongYeBusinessPage .bui-tab-item:nth-child(7){
    background-color: #8dc5b2;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(7):hover{
    background-color: #4591bd;
}
#pubTongYeBusinessPage .bui-tab-item:nth-child(7) .bui-tab-item-img{
    background: url("skin/default/img/sellingproduct_xintuochanping.png");
    background-size: 100% 100%;
}

