.header {
    background-color: #565656;
    box-shadow: 2px 2px 5px gray;
}

/**Alert组件*/
.bui-alert-root
{
    background-color: gainsboro !important;
}

/**Confirm组件*/
.bui-confirm-root
{
    background-color:gainsboro !important;
}

/**Prompt组件*/
.bui-prompt-root{
    background-color:gainsboro !important;
}

/**Login组件*/
.bui-login-root{
    background-color:gainsboro !important;
}