body {
  overflow-x: hidden;
}

#hall-manager .bui-pbox-img-content{
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.72);
  background-color: #1dc2b2;
}

#hall-manager .bui-pbox-img-content:hover{
  background-color: #18a698;
}



#order-manager .bui-pbox-img-content{
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.72);
  background-color: #fd5a5d;
}

#order-manager .bui-pbox-img-content:hover{
  background-color: #dc4d4f;
}



#product-center .bui-pbox-img-content{
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.72);
  background-color: #5bbef3;
}

#product-center .bui-pbox-img-content:hover{
  background-color:#50a5d2;
}


#licai-tool .bui-pbox-img-content{
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.72);
  background-color: #ffc56a;
}

#licai-tool .bui-pbox-img-content:hover{
  background-color: #ddc49c;
}


#licai-product .bui-pbox-img-content{
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.72);
  background-color: #7d7eab;
}

#licai-product .bui-pbox-img-content:hover{
  background-color:#636486;
}

#bankcard-business .bui-pbox-img-content{
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.72);
  /*background-color: #6dc459;*/
  background-color: gray;
}

#bankcard-business .bui-pbox-img-content:hover{
  /*background-color: #539345;*/
}

#setting .bui-pbox-img-content{
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.72);
  background-color: #fda93f;
}
#setting .bui-pbox-img-content:hover{
  background-color: #ba7d30;
}

#rizhi .bui-pbox-img-content{
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.72);
  background-color: #c866c5;
}

#rizhi .bui-pbox-img-content:hover{
  background-color: #934a91;
}

.hall-manager .bui-pbox-img
{
  min-height: 121.19px;
}
