
#subtwo .row{
    margin-bottom: 8px;
}
#subtwo .row .col{
    padding: 0;
}

#subtwo .subtwo-input-area {
    height: 550px;
    width: 100%;
    background-color: white;
    /*border: 2px solid black;*/
}

#subtwo .subtwo-item{
    background-color: gainsboro;
    height: 40px;
    text-align: center;
    font-size: 22px;
    padding-top: 8px;
}

#subtwo .tingtangguanli-goumaili{
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px dashed #FFFFFF;
    background-color: rgb(242,242,242);
    font-size: 25px;

}