.shou-fu-fang-shi{
    display: none;
}

.main-container .row .col{
    padding: 0px;
}
.main-container .row{
    margin-bottom: 10px;
}

[class^="icon-"]{
    background:none !important;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
}

.icon-ok:before {
    content: "\2714";
}

.icon-fail:before{
    content:"X"
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    cursor: default;
}

.input-error-info{
    position: absolute;
    color:rgb(185, 74, 72);
    margin-top: -25px;
}