.main-container .row .col{
    padding: 0px;
}

.main-container .row{
    margin-bottom: 10px;
}
#productTab .bui-tab-item:nth-child(1){
    background-color: #f47a7a;
}
#productTab .bui-tab-item:nth-child(1):hover{
    background-color: #e27272;
}
#productTab .bui-tab-item:nth-child(1) .bui-tab-item-img{
    background: url("skin/default/img/rexiaoproduct_jijinchanping.png");
    background-size: 100% 100%;
}




#productTab .bui-tab-item:nth-child(2){
    background-color: #96cb00;
}
#productTab .bui-tab-item:nth-child(2):hover{
    background-color: #7ca701;
}
#productTab .bui-tab-item:nth-child(2) .bui-tab-item-img{
    background: url("skin/default/img/rexiaoproduct_xinyongkachanping.png");
    background-size: 100% 100%;
}



#productTab .bui-tab-item:nth-child(3){
    background-color: #5bbef3;
}
#productTab .bui-tab-item:nth-child(3):hover{
    background-color: #5a9cd2;
}
#productTab .bui-tab-item:nth-child(3) .bui-tab-item-img{
    background: url("skin/default/img/sellingproduct_guozhaichanping.png");
    background-size: 100% 100%;
}




#perZhongJianBusinessPage .bui-tab-item:nth-child(4){
    background-color: #fda93f;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(4):hover{
    background-color: #d28736;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(4) .bui-tab-item-img{
    background: url("skin/default/img/rexiaoproduct_guozhaichanping.png");
    background-size: 100% 100%;
}



#perZhongJianBusinessPage .bui-tab-item:nth-child(5){
    background-color: #c866c5;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(5):hover{
    background-color: #ae57ab;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(5) .bui-tab-item-img{
    background: url("skin/default/img/rexiaoproduct_daebaodan.png");
    background-size: 100% 100%;
}


#perZhongJianBusinessPage .bui-tab-item:nth-child(6){
    background-color: #1dc2b2;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(6):hover{
    background-color: #1d9787;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(6) .bui-tab-item-img{
    background: url("skin/default/img/sellingproduct_baoxianchanping.png");
    background-size: 100% 100%;
}



#perZhongJianBusinessPage .bui-tab-item:nth-child(7){
    background-color: #5bbef3;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(7):hover{
    background-color: #4591bd;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(7) .bui-tab-item-img{
    background: url("skin/default/img/sellingproduct_guijinshuchanping.png");
    background-size: 100% 100%;
}



#perZhongJianBusinessPage .bui-tab-item:nth-child(8){
    background-color: #fda93f;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(8):hover{
    background-color: #ca8832;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(8) .bui-tab-item-img{
    background: url("skin/default/img/rexiaoproduct_xintuochanping.png");
    background-size: 100% 100%;
}



#perZhongJianBusinessPage .bui-tab-item:nth-child(9){
    background-color: #f47a7a;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(9):hover{
    background-color: #e27272;
}
#perZhongJianBusinessPage .bui-tab-item:nth-child(9) .bui-tab-item-img{
    background: url("skin/default/img/clientinfo_waihui.png");
    background-size: 100% 100%;
}

