.header {
  background-color: #cb3131;
  box-shadow: 2px 2px 5px gray;
}

/**Alert组件*/
.bui-alert-root
{
  background-color: red !important;
}

/**Confirm组件*/
.bui-confirm-root
{
  background-color:red !important;
}

/**Prompt组件*/
.bui-prompt-root{
  background-color:red !important;
}

/**Login组件*/
.bui-login-root{
  background-color:red !important;
}