.l3{
    margin-bottom: 5px;
}
.l6{
    margin-bottom: 10px;
}
.gjsxqheader{
    background: rgba(13, 203, 228, 0.15);
    width: 837.5px!important;
    left: 0px!important;
}
.col{
    font-size: large;
}

.wenXinTiShi{
    color: red;
    font-size: 14px;
}